record(ai, "$(N)") {
    field(DTYP, "Pico8 Capture")
    field(INP , "@$(NAME) 0 $(ADDR)")
    field(SCAN, "$(SCAN=I/O Intr)")
    field(LINR, "$(LINR=LINEAR)")
    field(ASLO, "$(ASLO=)")
    field(AOFF, "$(AOFF=)")
    field(ESLO, "$(ESLO=)")
    field(EOFF, "$(EOFF=)")
    field(PREC, "$(PREC=)")
    field(EGU , "$(EGU=)")
    field(TSE , "$(TSEL=-2)")
    field(FLNK, "$(FLNK=)")
}
