record(longin, "$(N)") {
    field(DTYP, "Pico8 Capture UInt32")
    field(INP , "@$(NAME) offset=$(ADDR)")
    field(SCAN, "$(SCAN=I/O Intr)")
    field(TSE , "$(TSEL=-2)")
    field(MDEL, "$(MDEL=0)")
    field(FLNK, "$(FLNK=)")
    field(PHAS, "$(PHAS=0)")
}
