record(longin, "$(SYS)_$(SSYS):$(DEV)_CAP:$(SIG)_RSTS") {
    field(DTYP, "Pico8 Capture UInt32")
    field(INP , "@$(NAME) offset=$(ADDR)")
    field(SCAN, "$(SCAN=Event)")
    field(EVNT, "$(EVNT=$(NAME)_100HZ)")
    field(EGU , "$(EGU=)")
    field(TSE , "$(TSEL=-2)")
    field(MDEL, "$(MDEL=-1)")
    field(PHAS, "$(PHAS=-1)")
    field(PRIO, "$(PRIO=)")
    field(FLNK, "$(FLNK=)")
}

