record(calc, "$(SYS)_$(SSYS):$(DEV)_$(SDEVCH):PKAVGF_RD") {
    field(INPA, "$(SYS)_$(SSYS):$(DEV)_$(SDEVCH):AVGF_RD")
    field(INPB, "$(SYS)_$(SSYS):$(DEV)_CAP:TON_RSTS")
    field(INPC, "$(SYS)_$(SSYS):$(DEV)_$(SDEVCH):CWBEAM_CSET")
    field(SCAN, "$(SCAN=Event)")
    field(EVNT, "$(EVNT=$(NAME)_100HZ)")
    field(EGU , "$(EGU=)")
    field(MDEL, "$(MDEL=-1)")
    field(PHAS, "$(PHAS=)")
    field(FLNK, "$(FLNK=)")
    field(CALC, "C ? A : (B ? A*10000*80.5/B : 0)")
}


